@import "tailwindcss";
@font-face {
    font-family: 'Citizen';
    src: url('./assets/fonts/CitizenSans-Public.otf') format("opentype");
}

:root{
    --01:#F3F1F3;
    --02:#E7E4E6;  
    --03:#D0C8CD;
    --04:#B8ADB4;
    --05:#A0929C;
    --06:#887783;
    --07:#6D5F69;
    --08:#52474E;
    --09:#372F34;
    --10:#1B181A;
    --11:#131112;

    --13:#734b5e;
    --14:#f5d3c8;

    --cor01:#e8d7f1;
    --cor02:#d3bccc;
    --cor03:#a167a5;
    --cor04:#4a306d;
    --cor05:#0e273c;

    --correct:rgb(30, 146, 55);
    --incorrect:rgb(234, 34, 34);

    --white:#ffffff;
    --black:#000000;


    --Citizen:'Citizen';
}

[datatheme="dark"]{
    --01:#131112;
    --02:#1B181A;
    --03:#372F34;
    --04:#52474E;
    --05:#6D5F69;
    --06:#887783;
    --07:#A0929C;
    --08:#B8ADB4;
    --09:#D0C8CD;
    --10:#E7E4E6;  
    --11:#F3F1F3;

    --13:#734b5e;
    --14:#f5d3c8;

    --cor05:#e8d7f1;
    --cor04:#d3bccc;
    --cor03:#a167a5;
    --cor02:#4a306d;
    --cor01:#0e273c;

    --correct:rgb(30, 146, 55);
    --incorrect:rgb(234, 34, 34);

    --black:#ffffff;
    --white:#000000;


    --Citizen:'Citizen';
}


body{
    font-family: var(--Citizen);
    color:var(--10);
    background-color:var(--03);
}

.citizen{
    font-family: var(--Citizen);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--01);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb {
    background: var(--08);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--06);
}

.crescimentoHorizontal{
    animation: crescimentoHorizontal 0.5s ease-in-out;
}

@keyframes crescimentoHorizontal {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}